<h1 class="text-center text-primary"><%= @receipt.title %></h1>

<table class="table table-striped"><!-- All Donation Items On Current Receipt -->
  <thead>
    <tr>
      <th>Item Category</th>
      <th>Item Type</th>
      <th>Value</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @receipt.donations.each do |donation| %>
    <tr>
		<td> <%= donation.item_category %></td>
		<td> <%= donation.item_type %></td>
		<td> <%= donation.value %></td>
		<td> <%= link_to "Delete", delete_donation_path(@receipt, donation), method: :delete, data: {confirm: "Are you sure?"} %></td>->
	</tr>
  </tbody>
  <% end %>
</table> <!-- End dontation items on current receipt -->

<%= link_to "Add Donation Item", new_donation_path, class: "btn btn-info btn-lg " %>  
<br>
<br>

<div class="center-align">
<%= form_for @receipt, method: "patch" do |f| %>
	<%= f.submit "Submit Receipt", class: "btn btn-lg btn-info" %>
<%end%>
</div>
