<!DOCTYPE html>
<html>
<head>
  <title>SweetReceipt2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- START NAV -->
<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="nav-transparency"></div>
		<div class="navbar-header">
		<!-- NAVBAR LOGO -->
			<%= link_to(image_tag("https://s3-us-west-2.amazonaws.com/sweet-receipt/SR-Images/SR-logo-trans.png"), root_path, :class => "navbar-brand") %>
		</div>
		<!-- PULL RIGHT LINKS AND DROPDOWNS -->
		<ul class="nav navbar-nav navbar-right pull-right">
		      <li><a href="#">About</a></li>
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		         	<% if user_signed_in? %>
		         	<%= "#{current_user.first_name}'s Account" %> 
		         	</a>
		         		<ul class="dropdown-menu navbar-right" role="menu">	           	
					     		<li> <%= link_to 'My Receipts', receipts_path%></li>
					     		<li><%= link_to "Create Receipt", new_receipt_path %></li>
					     		<li><%= link_to "Edit My Profile", edit_user_registration_path %></li>
					     		<li><a href="#">Dashboard</a></li>
					     		<li class="divider"></li>
					     		<li> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
		     				</ul>

		         	<% else %> 
		         			<p>Start Here</p>
		         	    <ul class="dropdown-menu navbar-right" role="menu">	           	
			         		<li><%= link_to 'Login', new_user_session_path %> <span class="caret"></span></a></li>
			         		<li><%= link_to 'Sign Up', new_user_registration_path %> 
		         		</ul>
		         		
		         	<% end %>
		         </ul>
		       </li>
		     </ul> 
		     <!-- </div> close .nav-transparency -->
		</div> <!-- close .container-fluid -->
	</div>
</nav>

<!-- ALERT MESSAGES-->
<div>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

<%= yield %>

  </div>
</div>

<footer>
</footer>

</body>
</html>
